.box {
  > div {
    height: 100%;
  }
  &.full {
    height: 100%;
  }
}

.cen {
  display: flex;
  justify-content: center;
  align-items: center;
  &.full {
    height: 100%;
  }
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.expand {
  flex-grow: 99999;
}

.ver {
  &.full {
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  &.top {
    justify-content: flex-start;
  }
  &.bottom {
    justify-content: flex-end;
  }
  &.center {
    align-items: center;
  }
  &.left {
    align-items: flex-start;
  }
  &.right {
    align-items: flex-start;
  }
  &.middle {
    justify-content: center;
  }
  &.space {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
}

.hor {
  display: flex;
  flex-direction: row;
  &.top {
    align-items: flex-start;
  }
  &.bottom {
    align-items: flex-end;
  }
  &.center {
    align-items: center;
  }
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.middle {
    justify-content: center;
  }
  &.space {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.full {
    height: 100%;
  }
}
